VITE_SUPABASE_URL=https://qhfzizfcbzgzssbojbhu.supabase.coyour_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFoZnppemZjYnpnenNzYm9qYmh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1NjY5NDAsImV4cCI6MjA4NzE0Mjk0MH0.-WnXyZjFVtARZ1UYfeNeBEofEhFu61qcUd9sARA5OwEabase_anon_key
